<nb-card *ngIf="model">
    <nb-card-header>
        <div class="row">
            <div class="col-6">
                <span>{{model?.id}}</span>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <detay-gorunumu [colDefs]="columns" [model]="model" [readOnly]="true"></detay-gorunumu>
    </nb-card-body>
</nb-card>
<nb-card>
    <app-tahsilat-kalem-list [tahsilatId]="id"></app-tahsilat-kalem-list>
    <nb-card-header></nb-card-header>
    <nb-card-body>
        <ngb-tabset>
            <ngb-tab title="Tahsilat Kalemleri">
            </ngb-tab>
        </ngb-tabset>
    </nb-card-body>
</nb-card>