<ng-container *ngIf="tahsilat">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="card">
                <h5 class="card-header">Ödeme Bilgileri</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Vade Tarihi
                                </th>
                                <th>
                                    Ödeme Tipi
                                </th>
                                <th class="text-right">
                                    Ödenecek Tutar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let tahsilatKalem of tahsilat?.tahsilatKalems">
                                <tr>
                                    <td>
                                        {{tahsilatKalem?.tahakkuk?.vadeTarihi|date}}
                                    </td>
                                    <td>
                                        {{tahsilatKalem?.odemeTipi?.ad}}
                                    </td>
                                    <td class="text-right">
                                        {{(tahsilatKalem?.tutar)| currency : 'TRY'}}
                                    </td>
                                </tr>
                            </ng-container>

                        </tbody>
                        <tfoot>
                            <tr class="alert alert-warning">
                                <td colspan="2"><b> Yatırılacak Tutar:</b></td>
                                <td class="text-right"><b>
                                        {{ tahsilat?.tutar|currency: 'TRY'}}</b>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- <div class="alert alert-success" role="alert" *ngIf="tahsilatSonucu?.cuzdan">
            <p>Cüzdana aktarılacak tutar: {{(tahsilatSonucu.cuzdan?.tutar)| currency : 'TRY'}}</p>
        </div> -->
        </div>
        <div class="col" style="height: 1000px;">
            <app-paytr-gateway *ngIf="tahsilat?.sanalPosKod==='paytr'" [tahsilat]="tahsilat"></app-paytr-gateway>
            <!-- <div class="card">
            <h5 class="card-header">Kart Bilgileri</h5>
            <div class="card-body">
                <form #form="ngForm" novalidate>
                    <div class="dx-field">
                        <div class="dx-field-label">Ad Soyad</div>
                        <div class="dx-field-value">
                            <dx-text-box name="cardHolderName" required [(ngModel)]="model.cardHolderName">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Ad Soyad zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Kart No</div>
                        <div class="dx-field-value">
                            <dx-text-box name="cardNumber" required [(ngModel)]="model.cardNumber">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Kart No zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Ay</div>
                        <div class="dx-field-value">
                            <dx-select-box name="cardExpireDateMonth" required [(ngModel)]="model.cardExpireDateMonth"
                                [dataSource]="aylar" displayExpr="ad" valueExpr="id">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Ay zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Yıl</div>
                        <div class="dx-field-value">
                            <dx-select-box name="cardExpireDateYear" required [(ngModel)]="model.cardExpireDateYear"
                                [dataSource]="yillar" displayExpr="ad" valueExpr="id">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Yıl zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>

                    <div class="dx-field">
                        <div class="dx-field-label">CVV Kodu</div>
                        <div class="dx-field-value">
                            <dx-text-box name="cardCVV2" required [(ngModel)]="model.cardCVV2" autocomplete="off" ccCVC>
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="CVV Kodu zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Kart Tipi</div>
                        <div class="dx-field-value">
                            <dx-select-box name="brandName" required [(ngModel)]="model.brandName"
                                [dataSource]="brandNames" displayExpr="name" valueExpr="id">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Kart Tipi zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                    <dx-button [disabled]="form.invalid" stylingMode="contained" text="Ödemeyi Tamamla" type="success"
                        (onClick)="odemeyiTamamla($event)">
                    </dx-button>
                </form>
            </div>
        </div> -->
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div id="paytr_taksit_tablosu"></div>
            <script
                src="https://www.paytr.com/odeme/taksit-tablosu/v2?token=e22f78523d721773a8e5f5129afcbe29a7fc48330cadbb641ece220c7d8752b2&merchant_id=164697&amount={{tahsilat.tutar}}&taksit=0&tumu=0"></script>
        </div>
    </div>
    <div class="row">

    </div>
</ng-container>
<style>
    #paytr_taksit_tablosu {
        clear: both;
        font-size: 12px;
        max-width: 1200px;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    #paytr_taksit_tablosu::before {
        display: table;
        content: " ";
    }

    #paytr_taksit_tablosu::after {
        content: "";
        clear: both;
        display: table;
    }

    .taksit-tablosu-wrapper {
        margin: 5px;
        width: 280px;
        padding: 12px;
        cursor: default;
        text-align: center;
        display: inline-block;
        border: 1px solid #e1e1e1;
    }

    .taksit-logo img {
        max-height: 28px;
        padding-bottom: 10px;
    }

    .taksit-tutari-text {
        float: left;
        width: 126px;
        color: #a2a2a2;
        margin-bottom: 5px;
    }

    .taksit-tutar-wrapper {
        display: inline-block;
        background-color: #f7f7f7;
    }

    .taksit-tutar-wrapper:hover {
        background-color: #e8e8e8;
    }

    .taksit-tutari {
        float: left;
        width: 126px;
        padding: 6px 0;
        color: #474747;
        border: 2px solid #ffffff;
    }

    .taksit-tutari-bold {
        font-weight: bold;
    }

    @media all and (max-width: 600px) {
        .taksit-tablosu-wrapper {
            margin: 5px 0;
        }
    }
</style>