<ng-container *ngIf="tahsilat">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <h5 class="card-header">Ödeme Bilgileri</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>
                                    Vade Tarihi
                                </th> -->
                                <th>
                                    Ödeme Tipi
                                </th>
                                <th class="text-right">
                                    Ödenecek Tutar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let tahsilatKalem of tahsilat?.tahsilatKalems">
                                <tr>
                                    <!-- <td>
                                        {{tahsilatKalem?.tahakkuk?.vadeTarihi|date}}
                                    </td> -->
                                    <td>
                                        {{tahsilatKalem?.odemeTipi?.ad}}
                                    </td>
                                    <td class="text-right">
                                        {{(tahsilatKalem?.tutar)| currency : 'TRY'}}
                                    </td>
                                </tr>
                            </ng-container>

                        </tbody>
                        <tfoot>
                            <tr class="alert alert-warning">
                                <td><b> Yatırılacak Tutar:</b></td>
                                <td class="text-right"><b>
                                        {{ tahsilat?.tutar|currency: 'TRY'}}</b>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- <div class="alert alert-success" role="alert" *ngIf="tahsilatSonucu?.cuzdan">
            <p>Cüzdana aktarılacak tutar: {{(tahsilatSonucu.cuzdan?.tutar)| currency : 'TRY'}}</p>
        </div> -->
        </div>
        <div class="col">
            <app-paytr-gateway *ngIf="tahsilat?.sanalPosKod==='paytr'" [tahsilat]="tahsilat"></app-paytr-gateway>
            <!-- <div class="card">
            <h5 class="card-header">Kart Bilgileri</h5>
            <div class="card-body">
                <form #form="ngForm" novalidate>
                    <div class="dx-field">
                        <div class="dx-field-label">Ad Soyad</div>
                        <div class="dx-field-value">
                            <dx-text-box name="cardHolderName" required [(ngModel)]="model.cardHolderName">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Ad Soyad zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Kart No</div>
                        <div class="dx-field-value">
                            <dx-text-box name="cardNumber" required [(ngModel)]="model.cardNumber">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Kart No zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Ay</div>
                        <div class="dx-field-value">
                            <dx-select-box name="cardExpireDateMonth" required [(ngModel)]="model.cardExpireDateMonth"
                                [dataSource]="aylar" displayExpr="ad" valueExpr="id">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Ay zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Yıl</div>
                        <div class="dx-field-value">
                            <dx-select-box name="cardExpireDateYear" required [(ngModel)]="model.cardExpireDateYear"
                                [dataSource]="yillar" displayExpr="ad" valueExpr="id">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Yıl zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>

                    <div class="dx-field">
                        <div class="dx-field-label">CVV Kodu</div>
                        <div class="dx-field-value">
                            <dx-text-box name="cardCVV2" required [(ngModel)]="model.cardCVV2" autocomplete="off" ccCVC>
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="CVV Kodu zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Kart Tipi</div>
                        <div class="dx-field-value">
                            <dx-select-box name="brandName" required [(ngModel)]="model.brandName"
                                [dataSource]="brandNames" displayExpr="name" valueExpr="id">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Kart Tipi zorunludur">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                    <dx-button [disabled]="form.invalid" stylingMode="contained" text="Ödemeyi Tamamla" type="success"
                        (onClick)="odemeyiTamamla($event)">
                    </dx-button>
                </form>
            </div>
        </div> -->
        </div>

    </div>
    <div class="row">


    </div>

    <div class="row">

    </div>
</ng-container>