<data-table [dataSource]="dataSource" (dxGridReady)="gridReady($event)" [title]="'Borc Listesi'" [columns]="columns"
    [editMode]="'popup'" name="borclar" (onRowUpdating)="onRowUpdating($event)" (onInitNewRow)="onInitNewRow($event)"
    (onToolbarPreparing)="onToolbarPreparing($event)">
</data-table>

<dx-popup [showTitle]="true" title="Öde" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupVisibleOde">
    <div *dxTemplate="let data of 'content'">
        <form #form="ngForm" novalidate>
            <div class="dx-field">
                <div class="dx-field-label">Ödeme Tarihi</div>
                <div class="dx-field-value">
                    <dx-date-box name="odemeTarihi" required [(ngModel)]="hesapHareketi.odemeTarihi" type="date">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Ödeme Tarihi zorunludur.">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Tutar</div>
                <div class="dx-field-value">
                    <dx-text-box name="tutar" required [(ngModel)]="hesapHareketi.tutar" type="number">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Ödeme yapılacak tutar zorunludur.">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>


            <div class="dx-field">
                <div class="dx-field-label">Hesaplar</div>
                <div class="dx-field-value">
                    <dx-select-box name="hesaptanimId" required [(ngModel)]="hesapHareketi.hesapId"
                        [dataSource]="hesapTanimlari" displayExpr="ad" valueExpr="id">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Ödeme yapılan hesap seçimi zorunludur.">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>
            <dx-button [disabled]="form.invalid" stylingMode="contained" text="Kaydet" type="success" [width]="120"
                (onClick)="ode($event)">
            </dx-button>
        </form>
    </div>
</dx-popup>

<dx-popup [showTitle]="true" title="Tahakkuk Oluştur" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupVisibleTahakkuk">
    <div *dxTemplate="let data of 'content'">
        <form #form="ngForm" novalidate>
            <div class="dx-field">
                <div class="dx-field-label">Vade Tarihi</div>
                <div class="dx-field-value">
                    <dx-date-box name="vadeTarihi" required [(ngModel)]="borc.vadeTarihi" type="date">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Vade Tarihi zorunludur.">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Tutar</div>
                <div class="dx-field-value">
                    <dx-text-box name="tutar" required [(ngModel)]="borc.tutar" type="number">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Dağıtılacak yapılacak tutar zorunludur.">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>


            <!-- <div class="dx-field">
                <div class="dx-field-label">Hesaplar</div>
                <div class="dx-field-value">
                    <dx-select-box name="dagitimTipi" required [(ngModel)]="hesapHareketi.hesapId"
                        [dataSource]="hesapTanimlari" displayExpr="ad" valueExpr="id">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Ödeme yapılan hesap seçimi zorunludur.">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div> -->

            <div class="dx-field">
                <div class="dx-field-label">Faiz Grupları</div>
                <div class="dx-field-value">
                    <dx-select-box name="faizGrubuId" required [(ngModel)]="borc.faizGrubuId"
                        [dataSource]="faizGruplari" displayExpr="ad" valueExpr="id">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Faiz Grubu zorunludur">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>

            <dx-button [disabled]="form.invalid" stylingMode="contained" text="Oluştur" type="success" [width]="120"
                (onClick)="tahakkuklariOlustur($event)">
            </dx-button>
        </form>
    </div>
</dx-popup>