<nb-card *ngIf="model">
    <nb-card-header>
        <div class="row">
            <div class="col-6">
                <span>{{model?.ad}} {{model?.soyad}}</span>
            </div>
            <div class="col-6  pull-left">
                <span *ngIf="cuzdan" class="badge badge-success">Kişinin Artı Bakiyesi:
                    {{cuzdan|currency:'TRY'}}</span>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <detay-gorunumu [colDefs]="columns" [model]="model" [readOnly]="true"></detay-gorunumu>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header></nb-card-header>
    <nb-card-body>
        <ngb-tabset>
            <ngb-tab title="Bağımsız Bölümler">
                <ng-template ngbTabContent>
                    <app-mesken-kisi-list [kisiId]="id"></app-mesken-kisi-list>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Ödenmemiş Tahakkuklar">
                <ng-template ngbTabContent>
                    <app-odenmemis-tahakkuk-list [kisiId]="id"></app-odenmemis-tahakkuk-list>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Ödenmiş Tahakkuklar">
                <ng-template ngbTabContent>
                    <app-odenmis-tahakkuk-list [kisiId]="id"></app-odenmis-tahakkuk-list>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Tahsilatlar">
                <ng-template ngbTabContent>
                    <app-kisi-tahsilat-list [kisiId]="id"></app-kisi-tahsilat-list>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Kurul Üyelikleri">
                <ng-template ngbTabContent>
                    <app-kurul-uye-list [kisiId]="id"></app-kurul-uye-list>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </nb-card-body>
</nb-card>