<data-table [dataSource]="dataSource" (dxGridReady)="gridReady($event)" [title]="meskenTipi?.ad || '' + ' Listesi'"
    [columns]="columns" [editMode]="'row'" [name]="meskenTipi?.kod" (onRowUpdating)="onRowUpdating($event)"
    [allowUpdating]="!isDetay" [allowAdding]="!isDetay" [allowDeleting]="!isDetay" (onInitNewRow)="onInitNewRow($event)"
    (onToolbarPreparing)="onToolbarPreparing($event)">
</data-table>
<dx-popup [showTitle]="true" title="Aidat Grubu Atama" [dragEnabled]="false" [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <form #form="ngForm" novalidate>
            <div class="dx-field">
                <div class="dx-field-label">Date</div>
                <div class="dx-field-value">
                    <dx-date-box name="baslangicTarihi" required [(ngModel)]="bbAidatGrubu.baslangicTarihi" type="date">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Başlangıç Tarihi zorunludur">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Aidat Grubu</div>
                <div class="dx-field-value">
                    <dx-select-box name="aidatGrubuId" required [(ngModel)]="bbAidatGrubu.aidatGrubuId"
                        [dataSource]="aidatGruplari" displayExpr="ad" valueExpr="id">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Aidat Grubu zorunludur">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>
            <dx-button [disabled]="form.invalid" stylingMode="contained" text="Kaydet" type="success" [width]="120"
                (onClick)="assignAidatGrubu($event,form)">
            </dx-button>
        </form>
    </div>
</dx-popup>