<div class="row my-2">
    <div class="col">
        <div class="alert alert-info">
            Ödemek istediğiniz aidatı seçerek "Ödeme Yap" butonuna bastıktan sonra yönlendirilen ekranda kart
            bilgilerinizi
            girerek ödeme yapabilirsiniz.
        </div>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <div class="row" *ngIf="cuzdan && cuzdan.aktifMi">
            <div class="col">
                <div class="alert alert-success">
                    Cüzdanınızda {{cuzdan.tutar|currency:'TRY'}} var. Otomatik kullanılacak.
                </div>
            </div>
        </div>
        <data-table [dataSource]="dataSource" [groupPanel]="false" [filterRow]="false" [columnChooser]="false"
            [searchPanel]="false" [filterPanel]="false" [headerFilter]="false" (dxGridReady)="onGridReady($event)"
            [title]="'Tahakkuklar'" [columns]="columns" [allowAdding]="false" [allowDeleting]="false"
            [allowUpdating]="false" name="onlineIslemlerOdenmemisTahakkuklar">
        </data-table>

    </div>
</div>
<div class="row pt-5">
    <div class="col-sm-12 table-responsive">
        <h4>Tahakkuklar</h4>

        <table class="table table-striped table-inverse table-bordered ">
            <thead class="thead-inverse">
                <tr>
                    <th><input type="checkbox" (click)="selectAll()"/></th>
                    <th>Vade Tarihi</th>
                    <th>Ödeme Tipi</th>
                    <th>Açıklama</th>
                    <th>Tutar</th>
                    <th>Ödenen Tutar</th>
                    <th>Kalan Tutar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tahakkuk of dataSource$|async">
                    <td scope="row"><input type="checkbox" [value]="isSelected(tahakkuk)" (click)="select(tahakkuk)"/></td>
                    <td>{{tahakkuk.vadeTarihi|date}}</td>
                    <td>{{tahakkuk.odemeTipi.ad}}</td>
                    <td>{{tahakkuk.aciklama}}</td>
                    <td>{{tahakkuk.tutar|currency:'TRY'}}</td>
                    <td>{{tahakkuk.odenenTutar|currency:'TRY'}}</td>
                    <td>{{tahakkuk.kalanAnaPara|currency:'TRY'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <button class="btn btn-success" (click)="odemeYap()">Ödeme Yap</button>
    </div>
</div>