<div class="row my-2">
    <div class="col">
        <div class="alert alert-info">
            Ödemek istediğiniz aidatı seçerek "Ödeme Yap" butonuna bastıktan sonra yönlendirilen ekranda kart
            bilgilerinizi
            girerek ödeme yapabilirsiniz.
        </div>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <div class="row" *ngIf="cuzdan">
            <div class="col">
                <div class="alert alert-success">
                    Cüzdanınızda {{cuzdan|currency:'TRY'}} var. Otomatik kullanılacak.
                </div>
            </div>
        </div>
        <data-table [dataSource]="dataSource" [groupPanel]="false" [filterRow]="false" [columnChooser]="false"
            [searchPanel]="false" [filterPanel]="false" [headerFilter]="false" (dxGridReady)="onGridReady($event)"
            [title]="'Tahakkuklar'" [columns]="columns" [allowAdding]="false" [allowDeleting]="false"
            [allowUpdating]="false" name="onlineIslemlerOdenmemisTahakkuklar">
        </data-table>

    </div>
</div>
<div class="row my-2">
    <div class="col">
        <button class="btn btn-success" [disabled]="!seciliTahakkuklar || seciliTahakkuklar.length"
            (click)="odemeYap()">Ödeme Yap</button>
    </div>
</div>