<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Çiğdem Adası</a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="!navbarOpen" class="navbar-collapse collapse ">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/']">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/mevzuat']">Mevzuat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/yonetim-kurulu']">Yönetim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/banka-hesaplari']">Hesap
                        Bilgileri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/dilek-oneri-sikayet']">Dilek Öneri Şikayet</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" ngbDropdown *ngIf="user">
                    <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
                        {{user.tamAd}} | {{user.username}}
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
                        <a ngbDropdownItem href="#" (click)="logout($event)">Çıkış Yap</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/online-islemler']">Online
                        İşlemler</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/admin']">Yönetici
                        İşlemler</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>

</div>

<footer class="container py-5">
    <div class="row">
        <div class="col">
            <small class="d-block mb-3 text-muted">&copy; 2020 Turkuaz Vadisi Çiğdem Adası 61456/2 Parsel</small>
        </div>

    </div>
    <div class="row">
      
        <!-- <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
          <li><a class="text-muted" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div> -->
    </div>
    <div class="row">
        <div class="col">
            <small class="d-block mb-3 text-right">&copy; 2019 - Z Elektronik Yazılım</small>
        </div>
    </div>
</footer>