<div class="header-container">
    <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="bars"></nb-icon>
        </a>
        <!-- <a class="logo" href="#" (click)="navigateHome()">Site<span>Yönetimi</span></a> -->
    </div>
</div>
<div class="header-container">
    <nb-actions size="small">
        <nb-action class="control-item">
            <nb-search type="rotate-layout" icon="search"></nb-search>
        </nb-action>
        <nb-action class="control-item" icon="envelope"></nb-action>
        <nb-action class="control-item" icon="bell"></nb-action>
        <nb-action class="user-action">
            <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="user?.tamAd"
                [picture]="user?.picture">
            </nb-user>
        </nb-action>
    </nb-actions>
</div>