.uploadfilecontainer{
    height: 150px;
    border: dashed;
    border-radius: 5px;
    border-color: silver;
    /* align-items: center; */
    text-align: center;
    vertical-align: middle;
    background: gainsboro;
}